@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gruppo&family=Lato:ital,wght@0,100;0,300;1,300;1,400&family=Merriweather:wght@300;400;700;900&family=Permanent+Marker&family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'poppins';
    background: #23232e;
    height: 8vh;
}

main{
    background: url(images/bg1.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

/* icon menu */ 
    
.mobile-menu{
    cursor: pointer;
    display: none;
    
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

/* media queries */ 

@media (max-width:999px){
    body{
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 0.3s all;
       
    }
    .nav-list li {
        margin-left: 0;
        
    }
    .mobile-menu {
        display: block;
    }

    /* ativar javascript css*/
    .active{
        transform: translateX(0);
    }
}

